/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  min-width: 320px;
}

#CR a,
#gazette a {
  text-decoration: underline;
  color: blueviolet;
}

#gridPhoto figure {
  position: relative;
  width: 100%;
  max-width: 100%;
  
}

#gridPhoto figcaption {
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 75%;
  background-color: #061f5398;
  color: #efefef;
  padding: 0.5em 0.5em;
  text-align: center;
}
/* Remplacez "#ffffff" par la couleur de fond souhaitée */
.ql-container {
  background-color: #ffffff;
  
}

/* Remplacez "#f8f8f8" par la couleur de fond souhaitée pour la barre d'outils */
.ql-toolbar {
  background-color: #f8f8f8;
}


/* Permet de definir un style pour h1 à h3 */
@tailwind base;

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }  
}

@tailwind components;

@tailwind utilities;